# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.dylib

# Virtual env
.venv/
env/
venv/

# Data and models
data/
models/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
*.code-workspace
.vscode/
.idea/

# Local files
sample.json
*.log

